In [18]:
import pandas as pd
import numpy as np
#from pandas import ExcelWriter
#from pandas import ExcelFile
#from scipy import stats
import matplotlib.pyplot as plt
import math
import xlwt
import openpyxl

In [25]:
wb = openpyxl.load_workbook('GCData_TE_ML.xlsx')
sheet1 = ''
sheet1 = wb['John_Code']
sheet2 = ''
sheet2 = wb['Peak_ID']

In [26]:
df = pd.read_excel('GCData_TE_ML.xlsx', sheet_name = 'John_Code')


#Preparing list of strings called Vial_names where each element is the name of a sample

Vial_names = []
Standard_names = ['1g_oddfames', '500mg_oddfames', '100mg_oddfames', '25mg_oddfames', 'FAME1000', 'FAME500', 'FAME100', 'FAME25']
Standard_names = ['FAME25','FAME50','FAME100','FAME500','FAME1000']
Sample_names = ['Sc1','H204A', 'WT', 'Rec']
Sample_names = ['133_222_227','BTE','D10S','E174G','H132Q','H204A','I198E','K159E','N131I','R109C','Rec']

for x in Sample_names:
    vial1 = x + '-1'
    Vial_names.append(vial1)
    vial2 = x + '-2'
    Vial_names.append(vial2)
    vial3 = x + '-3'
    Vial_names.append(vial3)
    
for x in Standard_names:
    Vial_names.append(x)

In [27]:
df

     133_222_227-1 Unnamed: 1 Unnamed: 2 Unnamed: 3 Unnamed: 4 Unnamed: 5
0            Peak#     R.Time     I.Time     F.Time       Area     Height
1                1      2.118      2.082      2.203       1465        597
2                2      2.546      2.483      2.758     263509     117671
3                3      3.683      3.631       3.78       1754        717
4                4      5.162      5.082      5.404     463124     213338
...            ...        ...        ...        ...        ...        ...
1366            13     13.184     13.119     13.347     100615      47646
1367            14     14.219      14.15     14.416     120233      58214
1368            15     14.562     14.509     14.654       2815       1302
1369            16       15.2     15.144      15.41      99833      47608
1370            17     16.134     16.082     16.409      71744      33447

[1371 rows x 6 columns]

In [28]:
# FAME Retention Times (minutes on DB-Fatwax column)

C7 = 2.35
C8 = 3.06
C9 = 3.92
C10 = 5.29
C11 = 6.79
C12 = 9.22
C13 = 10.86
C14 = 12.05
C15 = 12.86
C16 = 13.62
C17 = 14.18

C7 = 2.63
C8 = 3.79
C9 = 5.29
C10 = 6.90
C11 = 8.39
C12 = 9.76
C13 = 11.02
C14 = 12.18
C15 = 13.27
C16 = 14.31
C17 = 15.29
C18 = 16.00

# Create a dictionary which can be updated by changing values above. The dictionary will be called in peak identification (next block)

RT_dict = {'C7': C7, 'C8': C8, 'C9': C9, 'C10': C10, 'C11': C11, 'C12': C12, 'C13': C13, 'C14': C14, 'C15': C15, 'C16': C16, 'C17': C17,'C18': C18}

# Create list of analytes to make it easy to call dictionary in future
analytes = ['C7', 'C8', 'C9', 'C10', 'C11', 'C12', 'C13', 'C14', 'C15', 'C16', 'C17', 'C18']

In [29]:
# This block goes through the dataframe from the John_Code sheet and picks out sample names and relevant peaks.

num_rows = len(df)
row_name = list(range(0, num_rows))

for i in row_name:                
    if i < num_rows+1: 
        # picks out each row in dataframe and truncates - would be more elegant to not have to use dataframe but whatever
        row_calling = df.loc[i,:]
        vals = row_calling.values.tolist()
        vals = vals[0:6]
        
        # picks out sample names and adds to worksheet
        for label in Vial_names:
            if vals[0] == label:
                print(vals[0])
                heading = [vals[0],vals[0],vals[0],vals[0],vals[0],vals[0]]
                print(heading)
                sheet2.append(heading)
                
        # picks out peaks
        x = type(vals[1])
        if x == float:
            for a in analytes:
                upper_tolerance = RT_dict[a] + 0.09
                lower_tolerance = RT_dict[a] - 0.09
                if vals[1] < upper_tolerance and vals[1] > lower_tolerance:
                    #print(vals[1])
                    vals.append(a)
                    #print(vals)
                    sheet2.append(vals[1:])

133_222_227-2
['133_222_227-2', '133_222_227-2', '133_222_227-2', '133_222_227-2', '133_222_227-2', '133_222_227-2']
133_222_227-3
['133_222_227-3', '133_222_227-3', '133_222_227-3', '133_222_227-3', '133_222_227-3', '133_222_227-3']
BTE-1
['BTE-1', 'BTE-1', 'BTE-1', 'BTE-1', 'BTE-1', 'BTE-1']
BTE-2
['BTE-2', 'BTE-2', 'BTE-2', 'BTE-2', 'BTE-2', 'BTE-2']
BTE-3
['BTE-3', 'BTE-3', 'BTE-3', 'BTE-3', 'BTE-3', 'BTE-3']
D10S-1
['D10S-1', 'D10S-1', 'D10S-1', 'D10S-1', 'D10S-1', 'D10S-1']
D10S-2
['D10S-2', 'D10S-2', 'D10S-2', 'D10S-2', 'D10S-2', 'D10S-2']
D10S-3
['D10S-3', 'D10S-3', 'D10S-3', 'D10S-3', 'D10S-3', 'D10S-3']
E174G-1
['E174G-1', 'E174G-1', 'E174G-1', 'E174G-1', 'E174G-1', 'E174G-1']
E174G-2
['E174G-2', 'E174G-2', 'E174G-2', 'E174G-2', 'E174G-2', 'E174G-2']
E174G-3
['E174G-3', 'E174G-3', 'E174G-3', 'E174G-3', 'E174G-3', 'E174G-3']
FAME1000
['FAME1000', 'FAME1000', 'FAME1000', 'FAME1000', 'FAME1000', 'FAME1000']
FAME100
['FAME100', 'FAME100', 'FAME100', 'FAME100', 'FAME100', 'FAME100']
FAME25
['FAME25', 'FAME25', 'FAME25', 'FAME25', 'FAME25', 'FAME25']
FAME500
['FAME500', 'FAME500', 'FAME500', 'FAME500', 'FAME500', 'FAME500']
FAME50
['FAME50', 'FAME50', 'FAME50', 'FAME50', 'FAME50', 'FAME50']
H132Q-1
['H132Q-1', 'H132Q-1', 'H132Q-1', 'H132Q-1', 'H132Q-1', 'H132Q-1']
H132Q-2
['H132Q-2', 'H132Q-2', 'H132Q-2', 'H132Q-2', 'H132Q-2', 'H132Q-2']
H132Q-3
['H132Q-3', 'H132Q-3', 'H132Q-3', 'H132Q-3', 'H132Q-3', 'H132Q-3']
H204A-1
['H204A-1', 'H204A-1', 'H204A-1', 'H204A-1', 'H204A-1', 'H204A-1']
H204A-2
['H204A-2', 'H204A-2', 'H204A-2', 'H204A-2', 'H204A-2', 'H204A-2']
H204A-3
['H204A-3', 'H204A-3', 'H204A-3', 'H204A-3', 'H204A-3', 'H204A-3']
I198E-1
['I198E-1', 'I198E-1', 'I198E-1', 'I198E-1', 'I198E-1', 'I198E-1']
I198E-2
['I198E-2', 'I198E-2', 'I198E-2', 'I198E-2', 'I198E-2', 'I198E-2']
I198E-3
['I198E-3', 'I198E-3', 'I198E-3', 'I198E-3', 'I198E-3', 'I198E-3']
K159E-1
['K159E-1', 'K159E-1', 'K159E-1', 'K159E-1', 'K159E-1', 'K159E-1']
K159E-2
['K159E-2', 'K159E-2', 'K159E-2', 'K159E-2', 'K159E-2', 'K159E-2']
K159E-3
['K159E-3', 'K159E-3', 'K159E-3', 'K159E-3', 'K159E-3', 'K159E-3']
N131I-1
['N131I-1', 'N131I-1', 'N131I-1', 'N131I-1', 'N131I-1', 'N131I-1']
N131I-2
['N131I-2', 'N131I-2', 'N131I-2', 'N131I-2', 'N131I-2', 'N131I-2']
N131I-3
['N131I-3', 'N131I-3', 'N131I-3', 'N131I-3', 'N131I-3', 'N131I-3']
R109C-1
['R109C-1', 'R109C-1', 'R109C-1', 'R109C-1', 'R109C-1', 'R109C-1']
R109C-2
['R109C-2', 'R109C-2', 'R109C-2', 'R109C-2', 'R109C-2', 'R109C-2']
R109C-3
['R109C-3', 'R109C-3', 'R109C-3', 'R109C-3', 'R109C-3', 'R109C-3']
Rec-1
['Rec-1', 'Rec-1', 'Rec-1', 'Rec-1', 'Rec-1', 'Rec-1']
Rec-2
['Rec-2', 'Rec-2', 'Rec-2', 'Rec-2', 'Rec-2', 'Rec-2']
Rec-3
['Rec-3', 'Rec-3', 'Rec-3', 'Rec-3', 'Rec-3', 'Rec-3']

In [30]:
wb.save('GCData-Demo.xlsx')